html {
    box-sizing: border-box;
}
*
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-font-family:'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #000000; 
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
}

body {
    background-color: white;
    font-family: var(--primary-font-family)
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

  .webstudio-logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    }

.accent {
        font-family: var(--secondary-font-family);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #000000;
}
.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #212121;
    }
.site-nav a:hover,
.contacts-links a:hover,
.site-nav a:focus,
.contacts-links a:focus,
.site-nav a:active,
.contacts-links a:active {
    color: #2196F3;
}
   
.current.site-nav-link1 {
    color: var(--accent-color);
}
.current.site-nav-link2 {
    color: var(--accent-color);
}

.button.button.button-1.current {
  color: #FFFFFF;
}
.site-nav-link1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}

.site-nav-link2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    
}

.site-nav-link3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    
}
.contacts-links a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.contacts-links1, 
.contacts-links2 {
    color: #757575;
}

.main-head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/*Order button*/

.order-button {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.order-button-bg .order-button:hover,
.order-button-bg .order-button:focus {
    background-color: #188CE8;
}

/*Services*/
.services-box1 {
    }

.services-box2 {
    
}    
.services-box3 {
    
}


/*Team*/
.team-bg {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1454px;

    background: #F5F4FA;
}
.teammembers-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}
.teammembers-position {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;   
}

/* team cards */
.team-card1 {
    
}
.team-card2 {
    
}
.team-card3 {
    
}

.team-card4 {
    
}

.description-head1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description-head2 {    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.description-head3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.description-head4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.description1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.description2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;    
}

.description3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.description4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Main Head Section bg */
.main-head-bg {
    background: #2F303A;
}

.heads1,
.heads2,
.heads3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.heads1 {
    color: transparent;
}
.heads2 {
    }

.heads3 {
    }

/* Footer bg */

.footer-bg {
    background: #2F303A;
}

a.footer-links,
a.footer-links1 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
a.footer-links1 {
    color: #FFFFFF;
}
a.footer-links {
    color: rgba(255, 255, 255, 0.6);
}

.accent-footer {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}














/* PORTFOLIO PAGE */


.main-container {
    }

.site-nav .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.site-nav .button {
    cursor: pointer;
}

.site-nav .button:hover,
.site-nav .button:focus, 
.site-nav .button:active {
    color: #FFFFFF;
    background-color: #188CE8; 
}
.button-1 {
background: #2196F3;

/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.button-2 {
background: #F5F4FA;
border-radius: 4px;
}
.button-3 {
background: #F5F4FA;
border-radius: 4px;
}
.button-4 {
background: #F5F4FA;
border-radius: 4px;
}
.button-5 {
background: #F5F4FA;
border-radius: 4px;
}


.container-bg1,
.container-bg2,
.container-bg3,
.container-bg4,
.container-bg5,
.container-bg6,
.container-bg7,
.container-bg8,
.container-bg9 {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.container-bg1 {
    left: 215px;
    top: 262px;
}

.container-bg2 {
    left: 615px;
    top: 262px;
}
.container-bg3 {
    left: 1015px;
    top: 262px;
}
.container-bg4 {
    left: 215px;
    top: 696px;
}
.container-bg5 {
    left: 615px;
    top: 696px;
}
.container-bg6 {
    left: 1015px;
    top: 696px;
}
.container-bg7 {
    left: 215px;
    top: 1130px;
}
.container-bg8 {
    left: 615px;
    top: 1130px;
}
.container-bg9 {
    left: 1015px;
    top: 1130px;
}

.portfolio-heads {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.8;    
    letter-spacing: 0.03em;
    color: #757575;     
}

.footer-links {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000000;
}